
#section1{
    display: flex;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
    width: 100%;
    background-color: #202020;
    height: 100%;
    .center{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        color:#fff;
        position: relative;
        width: 100%;
        overflow: hidden;
        .main_left{
            position: relative;
            z-index: 98;
            h2{
                font-size:22px;
                color:#ff8800;
                font-weight: 400;
                margin: 20px 0;
            }
            h1{
                margin: 20px 0;
                font-size: 75px;
                font-weight: 600;
                color:rgb(160, 160, 160);
                span{
                    color:rgb(255, 255, 255);
                    position: relative;
                    &::after{
                        width: 100%;
                        height: 3px;
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: -5px;
                        background-color:#ff8800;
                    }
                }
            }
            p{
                margin: 20px 0;
                color:rgb(255, 255, 255);
                font-size: 19px;
                font-weight: 300;
            }
        }
        .main_right.one{
            transform: rotate(180deg);
            position: fixed;
            height: 100%;
            right:-100px;
            bottom:-600px;
            transition: all 0.5s;
            z-index: 1;
            filter: opacity(0.7) drop-shadow(0 0 0 #ff8800);
        }
        .main_right.two{
            filter: opacity(0.7) drop-shadow(0 0 0 #ff8800);
            transform: rotate(180deg);
            position: fixed;
            height: 100%;
            right:-100px;
            bottom:-600px;
            transition: all 0.5s;
            z-index: 1;
        }
        .main_right.three{
            filter: opacity(0.7) drop-shadow(0 0 0 #ff8800);
            transform: rotate(180deg);
            position: fixed;
            height: 100%;
            right:-100px;
            bottom:-600px;
            transition: all 0.5s;
            z-index: 1;
        }
        .main_right.four{
            filter: opacity(0.7) drop-shadow(0 0 0 #ff8800);
            transform: rotate(180deg);
            position: fixed;
            height: 100%;
            right:-100px;
            bottom:-600px;
            transition: all 0.5s;
            z-index: 1;
        }
    }
}

#section2{
    display: flex;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
    width: 100%;
    background-color: #202020;
    height: 100%;
    font-family: 'NanumSquareNeo-Variable';
    @font-face {
        font-family: 'NanumSquareNeo-Variable';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    }
    .center{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        color:#fff;
        position: relative;
        width: 100%;
        overflow: hidden;
        z-index: 95;
        .profile_box{
            width: 55%;
            height: 60%;
            background-color: #3b3b3b;
            border-radius: 30px;
            display: flex;
            .profile_box_left{
                width: 50%;
                height: 90%;
               
                display: flex;
                justify-content: center;
                align-items: center;
                .profile_box_left_text{
                    padding:35px;
                    h1{
                        font-size: 30px;
                        font-weight: 700;
                        letter-spacing: 2px;
                        margin: 30px 0;
                        span{
                            position: relative;
                            padding:0 10px;
                            &::after{
                                content: "";
                                height: 100%;
                                width: 3px;
                                background-color: #fff;
                                position: absolute;
                                left: 50%;
                                transform: translateX(-50%);
                            }
                        }
                    }
                    p{
                        color:#eeeeee;
                        font-size: 14px;
                        line-height: 25px;
                    }
                    .left_box{
                        margin-top: 30px;
                        position: relative;
                        z-index: 95;
                        .Profile{
                            li{
                                font-size: 14px;
                                line-height: 40px;
                                margin-left: 20px;
                                color:#eeeeee;
                                list-style-type: "\1F44D  ";
                                span{
                                    color:#eeeeee;
                                }
                                a{
                                    color:#eeeeee;
                                    position: relative;
                                    &:hover{
                                        &::after{
                                            content: "";
                                            position: absolute;
                                            background-color: #ff8800;
                                            width: 100%;
                                            height: 1px;
                                            left: 0;
                                            bottom: -3px;
                                        }
                                    }
                                }
                            }
                            
                        }
                        &::after{
                            display: block;
                            content: "";
                            position: absolute;
                            left: 40px;
                            bottom: -100px;
                            background: url("../img/cat1.png") no-repeat;
                            background-size: cover;
                            width: 200px;
                            height: 110px;
                            z-index: 98;
                        }
                        &::before{
                            display: block;
                            content: "";
                            position: absolute;
                            left: 210px;
                            bottom: -100px;
                            background: url("../img/cat2.png") no-repeat;
                            background-size: cover;
                            width: 200px;
                            height: 110px;
                            z-index: 98;
                        }
                    }
                }
            }
            .profile_box_right{
                border-left: 1px solid #444444;
                width: 50%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                .profile_box_right_text{
                    padding:35px;
                    margin-left: 35px;
                    h1{
                        font-size: 30px;
                        font-weight: 700;
                        letter-spacing: 2px;
                        margin: 30px 0;
                        span{
                            position: relative;
                            padding:0 10px;
                            &::after{
                                content: "";
                                height: 100%;
                                width: 3px;
                                background-color: #ff8800;
                                position: absolute;
                                left: 50%;
                                transform: translateX(-50%);
                            }
                        }
                    }
                    .study{
                        li{
                            width: 100%;
                            display: flex;
                            flex-wrap: wrap;
                            margin-bottom: 10px;
                            p{
                                margin-right: 10px;
                                margin-bottom: 10px;
                            }
                            .study_group{
                                display: flex;
                                justify-content: space-between;
                                width:100%;
                                li{
                                    margin-bottom: 5px;
                                    font-size: 13px;
                                }
                            }
                        }
                    }
                    .skil{
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        width: 100%;
                        line-height: 30px;
                        li{
                           
                            display: flex;
                            width: 100%;
                            p{
                                color:#ff8800;
                                width: 30%;
                                font-size: 14px;
                            }
                            .skil_detail{
                                display: flex;
                                margin-left: 50px;
                                li{
                                    margin: 0 5px;
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

#section3{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #202020;
    overflow: hidden;
    position: relative;
    .center{
        display: flex;
        align-items: center;
        height: 100vh;
        width: 100%;
        flex-wrap: wrap;
    }
    .title{
        color:#ffffff;
        top:100px;
        position: absolute;
        font-size: 30px;
        font-family: 'BookkMyungjo-Bd';
        font-weight: 400;
        letter-spacing: 2px;
        @font-face {
            font-family: 'BookkMyungjo-Bd';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/BookkMyungjo-Bd.woff2') format('woff2');
            font-weight: 400;
            font-style: normal;
        }
        h1{
            position: relative;
            width: 100%;
        }
    }
}
#section3_mo{
    display: none;
}
#footer{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 300px;
    background-color: #191919;
    position: relative;
    z-index: 98;
    .center{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        line-height: 30px;
        h1{
            color:#ff8800;
            font-size: 30px;
            font-weight: 800;
            margin-bottom: 30px;
            font-weight: 400;
            letter-spacing: 2px;
            font-family: 'BookkMyungjo-Bd';
            @font-face {
                font-family: 'BookkMyungjo-Bd';
                src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/BookkMyungjo-Bd.woff2') format('woff2');
                font-weight: 400;
                font-style: normal;
            }
        }
        p{
            color:#eeeeee;
        }
    }
}

@keyframes colorchange {
    0% { background-color: rgba(190,52,85,1); width:100% }
    100% { background-color: #000; width: 0%; }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

@media screen and (max-width:1024px) {
    #section2{
        .title{
            color:#ffffff;
            top:100px;
            position: absolute;
            font-size: 30px;
            font-family: 'BookkMyungjo-Bd';
            font-weight: 400;
            letter-spacing: 2px;
            @font-face {
                font-family: 'BookkMyungjo-Bd';
                src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/BookkMyungjo-Bd.woff2') format('woff2');
                font-weight: 400;
                font-style: normal;
            }
            h1{
                position: relative;
                width: 100%;
            }
        }
        .center{
            .profile_box{
                width: 85%;
                height: 60%;
                background-color: #3b3b3b;
                border-radius: 30px;
                display: flex;
                .profile_box_left{
                    width: 50%;
                    height: 90%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .profile_box_left_text{
                        h1{
                            font-size: 20px;
                            margin: 20px 0;
                        }
                        p{
                            line-height: 23px;
                            font-size: 13px;
                        }
                        .left_box{
                            margin-top: 20px;
                            .Profile{
                                li{
                                    font-size: 13px;
                                    line-height: 25px;
                                    margin-left: 20px;
                                    color:#eeeeee;
                                    list-style-type: "\1F44D  ";
                                    span{
                                        color:#eeeeee;
                                    }
                                    a{
                                        color:#eeeeee;
                                        position: relative;
                                        &:hover{
                                            &::after{
                                                content: "";
                                                position: absolute;
                                                background-color: #ff8800;
                                                width: 100%;
                                                height: 1px;
                                                left: 0;
                                                bottom: -3px;
                                            }
                                        }
                                    }
                                }
                                
                            }
                            &::after{
                                left: 20px;
                                top:40px;
                            }
                            &::before{
                                top:40px;
                                left: 170px;
                            }
                        }
                    }
                }
                .profile_box_right{
                    border-left: 1px solid #5c5c5c;
                    .profile_box_right_text{
                        font-size: 13px;
                        h1{
                            font-size: 20px;
                            margin: 20px 0;
                        }
                        .skil{
                            li{
                                p{
                                    font-size: 12px;
                                   
                                }
                                .skil_detail{
                                    li{
                                        font-size: 12px;
                                    }
                                    
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #section3{
        display: none;
    }
    #section3_mo{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        background-color: #202020;
        overflow: hidden;
        position: relative;
        z-index: 95;
        .title{
            color:#ffffff;
            top:100px;
            position: absolute;
            font-size: 30px;
            font-family: 'BookkMyungjo-Bd';
            font-weight: 400;
            letter-spacing: 2px;
            @font-face {
                font-family: 'BookkMyungjo-Bd';
                src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/BookkMyungjo-Bd.woff2') format('woff2');
                font-weight: 400;
                font-style: normal;
            }
            h1{
                position: relative;
                width: 100%;
            }
        }
        .portfolio_list{
            display: flex;
            width: 100%;
            align-items: center;
            flex-wrap: wrap;
            padding-top: 200px;
            .portfolio{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content:center;
                align-items: center;
                margin-bottom: 100px;
                .portfolio_left{
                    width: 100%;
                    height: 50%;
                    margin-right: 20px;
                    .main_img{
                        width: 100%;
                        height: 100%;
                        img{
                            max-width: 100%;
                        }
                    }
                    .sub_content{
                        position: relative;
                        top:24px;
                        width: 100%;
                        overflow: hidden;
                        .sub_slide{
                            width: 400%;
                            display: flex;
                            justify-content: center;
                            position: relative;
                            .subimg{
                                width: 100%;
                                height: 147px;
                            }
                        }
                        .sub_img_change_btn{
                            width: 100%;
                            height: 20px;
                            display: flex;
                            font-size: 20px;
                            .prev_btn{
                                position: absolute;
                                width: 20px;
                                height: 20px;
                                transform: translateY(-50%);
                                top:50%;
                                left: 0;
                                a{
                                    color:#fff;
                                }
                            }
                            .next_btn{
                                position: absolute;
                                width: 20px;
                                height: 20px;
                                top:50%;
                                transform: translateY(-50%);
                                right: 0;
                                a{
                                    color:#fff;
                                }
                            }
                        }
                    }
                }
                .portfolio_right{
                    width: 100%;
                    height: 50%;
                    background-color: #3b3b3b;
                    border-radius: 10px;
                    .portfolio_text{
                        margin: 20px;
                        .portfolio_title{
                            font-size: 20px;
                            margin: 30px 0;
                            font-weight: bold;
                            letter-spacing: 1px;
                            color: #ffffff;
                        }
                        h2{
                            line-height: 20px;
                            font-size: 14px;
                            margin-top: 5px;
                            color:#eeeeee;
                            a{
                                margin-top: 3px;
                                font-weight: normal;
                            }
                        }
                        p{
                            color: #ffffff;
                            font-size: 14px;
                            line-height: 20px;
                        }
                        h3{
                            font-size: 14px;
                            span{
                                font-size: 16px;
                                color:#ff8800;
                                font-weight: bold;
                                letter-spacing: 2px;
                            }
                            color: #ffffff;
                            line-height:25px;
                        }
                        h4{
                            color: #ffffff;
                            margin-top: 20px;
                            font-size: 14px;
                            line-height: 20px;
                        }
                    }
                }
            }
        }
    }
}